body {
  background-image: url('../assets/bulletKin_wallpaper.jpg');
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:invalid {
  border: 2px dashed red;
}

.Img {
	width: 50%;
	height: auto;
}

.titleimg {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display {
	background-color: white;
	border-style: solid;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-width: 2px;
	margin: 10px;
	padding: 20px;
	min-height: 50%;
	display: grid;
	grid-template-columns: 30% auto;
}

.Infodisplay {
}

.Imgdisplay {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.MainPage {
	min-height: 100%;
}

.img-textbox {
	border-style: solid;
	border-width: 2px;
	margin: 10px;
	display: none;
}

.Loginbar {
	display:grid;
	background-color: white;
	padding:5px;
	grid-template-columns: 20% auto 20%;
}
.Loginmenu {
	padding:5px;
	display:grid;
	background-color: gray;
	grid-template-columns: 20% 20% auto 20% auto;
}
#login {
	margin:10px;
}

p #name {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

p #quote {
	font-style: italic;
}